@import "tailwindcss";

:root {
  --color-bg: #1a1d29;
  --color-main: #252936;
  --color-text: #f3f4f6;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
